@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}


body{
   color: #333;
}

.container{
   width: 100%;
   max-width: 1400px;
   margin: 100px auto;
}

h1{
   margin-bottom: 20px;
}

a{
   padding: 8px 15px;
   border-radius: 4px;
   text-decoration: none;
   color: #fff;
   background: #7494ec;
}

table{
   width: 100%;
   border-collapse: collapse;
   margin-top: 15px;
}

th,td{
   border-bottom: 1px solid #ddd;
   padding: 15px;
}

th{
   text-align: left;
}

.btn-delete{
   background: #e03131;
   margin-left: 5px;
}

.wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #f2f2f2;
}

.from-wrapper{
   background: #fff;
   padding: 700px;
   padding: 40px 40px 50px;
   border-radius: 10px;
}

.form-wrapper h1{
   text-align: center;
}

input,textarea{
   width: 100%;
   padding: 12px;
   margin: 12px 0;
   border: 2px solid #ddd;
   outline: none;
   border-radius: 6px;
   font-size: 16px;
}

textarea{
   height: 150px;
   resize: none;
}

.btn-box{
   display: flex;
   justify-content: space-between;
   margin-top: 5px;
}

.btn-box button{
   padding: 8px 50px;
   border: none;
   background: #7494ec;
   color: #fff;
   font-size: 16px;
   border-radius: 4px;
   cursor: pointer;
}

.btn-box a{
   background: transparent;
   color: #7494ec;
   border: 2px solid #7494ec;
   padding: 6px 50px;
}

